body {
    text-align: center;
}
.container {
    background-color: aqua;
    width: 40%;
    height: 120px;
    margin: auto;
    padding: 10px;
}
#inputvalue {
    border: none;
    padding: 5px;
}
#btn {
    border: none;
    background-color: red;
    padding: 5px;
    cursor: pointer;
}
.uldiv {
    width: 41.5%;
    border: 1px solid aqua;
    font-size: 20px;
    margin: auto;
}
#lu {
    width: 100%;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
ul.striped-list > li:nth-of-type(odd) {
    background-color: #8FBDD3;
}
li {
    list-style: none;
    margin: auto;
}
li:hover {
    cursor: pointer;
}